html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  border-color: inherit;
  vertical-align: middle;
}

body {
  background: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  Margin: 0 0 0 0;
  padding: 0 0 0 0;
  -webkit-text-size-adjust: none;
  margin: 0px;
}

div {
  display: block;
}

.contentwrap {
  width: 860px;
  margin: 0 auto 0 auto;
  position: relative;
}

.profileimg {
  width: 25px;
  height: 25px;
}

.white {
  color: white;
}

.update {
  border-top: 1px solid #CCC;
  padding: 10px 0px 10px 0px;
  overflow: hidden;
  background-color: white;
  position: relative;
  min-height: 40px;
}

.upic {
  padding-left: 3px;
  padding-right: 3px;
  vertical-align: middle;
  display: table-cell;
  float: left;
}

.userimg {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}

.ucontent {
  text-align: left;
  padding-left: 60px;
}

.utitle {
  height: 20px;
  clear: right;
}

.uname, .mname {
  width: 125px;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  color: black;
  float: left;
}

.uinfo {
  padding-right: 5px;
  text-align: right;
  font-size: 14px;
  color: #666;
  float: right;
  clear: right;
}

.utime {
  vertical-align: top;
  font-size: 12px;
}

.ustatus {
  text-align: left;
  font-size: 14px;
  color: black;
}

.utext {
  white-space: pre-wrap;
}

.boxtitle {
  padding: 8px 30px 8px 30px;
  margin: 20px auto 0 auto;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  background: #FFC901;
  color: white;
  border: 1px solid #FEB905;
}

#topline {
  background: #B5EFFF;
  height: 0px;
}

#banner {
  background: #FCA20C;
  height: 50px;
  position: relative;
}

#debug {
  background-color: #EEC900;
}

#serverstatus {
  float: right;
  font-size: 12px;
  background-color: white;
  padding: 6px 6px 6px 6px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
}

#inputmessage {
  width: 300px;
}

#leftcolumn {
  position: relative;
  margin: 0 auto;
  padding: 0px;
  text-align: left;
  vertical-align: middle;
  background: white;
  width: 610px;
  height: 100%;
  float: left;
}

#chatbox {
  padding: 5px;
  margin-bottom: 30px;
  background: #EBEBEB;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
}

#form {
  background-color: #EBEBEB;
  width: 100%;
  overflow: hidden;
}

#textwrapper {
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 5px;
}

#pushtext {
  width: 580px;
  height: 15px;
  font-size: 14px;
}

#buttonwrapper {
  //float: left;
  padding-top: 5px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 5px;
}

#pushbutton {
  background-color: white;
  border: 1px solid #AAA;
  color: #333;
  font-size: 16px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}

#updates {
  background-color: white;
  min-height: 300px;
  width: 100%;
  overflow: hidden;
}

a.nojs:link {
  color: inherit;
  text-decoration: none;
}

#rightcolumn {
  text-align: left;
  position: relative;
  padding: 0px;
  float: right;
  background: white;
  width: 240px;
  height: 100%;
  margin-left: 10px;
}

#peoplebox {
  padding: 5px;
  margin-bottom: 30px;
  background: #EBEBEB;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
}

#peoples {
  background-color: white;
  min-height: 150px;
  width: 100%;
  overflow: hidden;
}
